## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns = ['EIN', 'NAME'])

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [4]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
appcounts = application_df['APPLICATION_TYPE'].value_counts()
appcounts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
application_types_to_replace = list(appcounts[appcounts<500].index)
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classificationcount = application_df['CLASSIFICATION'].value_counts()
classificationcount

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
updateclasscount = classificationcount[classificationcount>1]
updateclasscount

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(classificationcount[classificationcount<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df = pd.get_dummies(application_df,dtype=float)

application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

In [11]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_df['IS_SUCCESSFUL'].values
y

array([1, 1, 0, ..., 0, 1, 0], dtype=int64)

In [12]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
X

array([[1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 1.0859000e+05, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       ...,
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 3.6500179e+07, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00]])

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_features = len(X_train_scaled[0])
nodes_layer1=80
nodes_layer2=30
nodes_layer3=40

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=nodes_layer1, input_dim=number_features, activation='relu'))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=nodes_layer2,activation='relu'))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))
# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 80)                3520
_________________________________________________________________
dense_1 (Dense)              (None, 30)                2430
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 31
=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Compile the model
#  YOUR CODE GOES HERE

nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 0s 568us/step - loss: 0.5705 - accuracy: 0.7202
Epoch 2/100
804/804 [==============================] - 0s 551us/step - loss: 0.5549 - accuracy: 0.7278
Epoch 3/100
804/804 [==============================] - 0s 548us/step - loss: 0.5520 - accuracy: 0.7300
Epoch 4/100
804/804 [==============================] - 0s 599us/step - loss: 0.5498 - accuracy: 0.7309
Epoch 5/100
804/804 [==============================] - 1s 731us/step - loss: 0.5495 - accuracy: 0.7291
Epoch 6/100
804/804 [==============================] - 0s 540us/step - loss: 0.5479 - accuracy: 0.7313
Epoch 7/100
804/804 [==============================] - 0s 531us/step - loss: 0.5469 - accuracy: 0.7320
Epoch 8/100
804/804 [==============================] - 0s 552us/step - loss: 0.5465 - accuracy: 0.7313
Epoch 9/100
804/804 [==============================] - 0s 527us/step - loss: 0.5459 - accuracy: 0.7340
Epoch 10/100
804/804 [==============================] - 0s 515us/step - loss: 0.5456 - accuracy: 0.7319
Epoch 11/100
804/804 [==============================] - 0s 540us/step - loss: 0.5454 - accuracy: 0.7326
Epoch 12/100
804/804 [==============================] - 0s 554us/step - loss: 0.5442 - accuracy: 0.7333
Epoch 13/100
804/804 [==============================] - 1s 748us/step - loss: 0.5440 - accuracy: 0.7334
Epoch 14/100
804/804 [==============================] - 0s 519us/step - loss: 0.5443 - accuracy: 0.7343
Epoch 15/100
804/804 [==============================] - 0s 547us/step - loss: 0.5438 - accuracy: 0.7336
Epoch 16/100
804/804 [==============================] - 0s 522us/step - loss: 0.5432 - accuracy: 0.7343
Epoch 17/100
804/804 [==============================] - 0s 536us/step - loss: 0.5428 - accuracy: 0.7347
Epoch 18/100
804/804 [==============================] - 0s 553us/step - loss: 0.5424 - accuracy: 0.7342
Epoch 19/100
804/804 [==============================] - 0s 515us/step - loss: 0.5423 - accuracy: 0.7349
Epoch 20/100
804/804 [==============================] - 0s 533us/step - loss: 0.5421 - accuracy: 0.7339
Epoch 21/100
804/804 [==============================] - 0s 535us/step - loss: 0.5418 - accuracy: 0.7346
Epoch 22/100
804/804 [==============================] - 0s 554us/step - loss: 0.5418 - accuracy: 0.7358
Epoch 23/100
804/804 [==============================] - 0s 508us/step - loss: 0.5415 - accuracy: 0.7357
Epoch 24/100
804/804 [==============================] - 0s 518us/step - loss: 0.5421 - accuracy: 0.7366
Epoch 25/100
804/804 [==============================] - 0s 532us/step - loss: 0.5414 - accuracy: 0.7359
Epoch 26/100
804/804 [==============================] - 0s 555us/step - loss: 0.5411 - accuracy: 0.7355
Epoch 27/100
804/804 [==============================] - 0s 549us/step - loss: 0.5406 - accuracy: 0.7357
Epoch 28/100
804/804 [==============================] - 0s 521us/step - loss: 0.5406 - accuracy: 0.7364
Epoch 29/100
804/804 [==============================] - 0s 509us/step - loss: 0.5407 - accuracy: 0.7355
Epoch 30/100
804/804 [==============================] - 0s 541us/step - loss: 0.5401 - accuracy: 0.7361
Epoch 31/100
804/804 [==============================] - 0s 562us/step - loss: 0.5403 - accuracy: 0.7366
Epoch 32/100
804/804 [==============================] - 0s 515us/step - loss: 0.5401 - accuracy: 0.7368
Epoch 33/100
804/804 [==============================] - 0s 518us/step - loss: 0.5402 - accuracy: 0.7381
Epoch 34/100
804/804 [==============================] - 0s 530us/step - loss: 0.5397 - accuracy: 0.7374
Epoch 35/100
804/804 [==============================] - 0s 554us/step - loss: 0.5395 - accuracy: 0.7368
Epoch 36/100
804/804 [==============================] - 0s 587us/step - loss: 0.5391 - accuracy: 0.7380
Epoch 37/100
804/804 [==============================] - 1s 685us/step - loss: 0.5394 - accuracy: 0.7379
Epoch 38/100
804/804 [==============================] - 0s 507us/step - loss: 0.5390 - accuracy: 0.7372
Epoch 39/100
804/804 [==============================] - 0s 523us/step - loss: 0.5390 - accuracy: 0.7378
Epoch 40/100
804/804 [==============================] - 0s 546us/step - loss: 0.5388 - accuracy: 0.7363
Epoch 41/100
804/804 [==============================] - 0s 530us/step - loss: 0.5390 - accuracy: 0.7383
Epoch 42/100
804/804 [==============================] - 0s 519us/step - loss: 0.5383 - accuracy: 0.7395
Epoch 43/100
804/804 [==============================] - 0s 531us/step - loss: 0.5382 - accuracy: 0.7367
Epoch 44/100
804/804 [==============================] - 0s 540us/step - loss: 0.5381 - accuracy: 0.7381
Epoch 45/100
804/804 [==============================] - 0s 541us/step - loss: 0.5379 - accuracy: 0.7379
Epoch 46/100
804/804 [==============================] - 0s 527us/step - loss: 0.5377 - accuracy: 0.7388
Epoch 47/100
804/804 [==============================] - 0s 518us/step - loss: 0.5376 - accuracy: 0.7383
Epoch 48/100
804/804 [==============================] - 0s 543us/step - loss: 0.5378 - accuracy: 0.7383
Epoch 49/100
804/804 [==============================] - 0s 553us/step - loss: 0.5376 - accuracy: 0.7382
Epoch 50/100
804/804 [==============================] - 0s 540us/step - loss: 0.5374 - accuracy: 0.7381
Epoch 51/100
804/804 [==============================] - 0s 521us/step - loss: 0.5374 - accuracy: 0.7383
Epoch 52/100
804/804 [==============================] - 0s 531us/step - loss: 0.5376 - accuracy: 0.7385
Epoch 53/100
804/804 [==============================] - 0s 566us/step - loss: 0.5372 - accuracy: 0.7392
Epoch 54/100
804/804 [==============================] - 0s 544us/step - loss: 0.5373 - accuracy: 0.7389
Epoch 55/100
804/804 [==============================] - 0s 528us/step - loss: 0.5372 - accuracy: 0.7392
Epoch 56/100
804/804 [==============================] - 0s 519us/step - loss: 0.5370 - accuracy: 0.7384
Epoch 57/100
804/804 [==============================] - 1s 671us/step - loss: 0.5371 - accuracy: 0.7389
Epoch 58/100
804/804 [==============================] - 1s 641us/step - loss: 0.5369 - accuracy: 0.7399
Epoch 59/100
804/804 [==============================] - 0s 620us/step - loss: 0.5365 - accuracy: 0.7393
Epoch 60/100
804/804 [==============================] - 0s 501us/step - loss: 0.5368 - accuracy: 0.7390
Epoch 61/100
804/804 [==============================] - 0s 593us/step - loss: 0.5365 - accuracy: 0.7396
Epoch 62/100
804/804 [==============================] - 0s 620us/step - loss: 0.5363 - accuracy: 0.7391
Epoch 63/100
804/804 [==============================] - 0s 606us/step - loss: 0.5361 - accuracy: 0.7390
Epoch 64/100
804/804 [==============================] - 0s 502us/step - loss: 0.5366 - accuracy: 0.7390
Epoch 65/100
804/804 [==============================] - 0s 503us/step - loss: 0.5360 - accuracy: 0.7388
Epoch 66/100
804/804 [==============================] - 0s 547us/step - loss: 0.5363 - accuracy: 0.7385
Epoch 67/100
804/804 [==============================] - 0s 518us/step - loss: 0.5359 - accuracy: 0.7398
Epoch 68/100
804/804 [==============================] - 0s 504us/step - loss: 0.5360 - accuracy: 0.7387
Epoch 69/100
804/804 [==============================] - 0s 496us/step - loss: 0.5357 - accuracy: 0.7398
Epoch 70/100
804/804 [==============================] - 0s 502us/step - loss: 0.5354 - accuracy: 0.7399
Epoch 71/100
804/804 [==============================] - 0s 518us/step - loss: 0.5361 - accuracy: 0.7392
Epoch 72/100
804/804 [==============================] - 0s 530us/step - loss: 0.5361 - accuracy: 0.7390
Epoch 73/100
804/804 [==============================] - 0s 509us/step - loss: 0.5359 - accuracy: 0.7398
Epoch 74/100
804/804 [==============================] - 0s 506us/step - loss: 0.5360 - accuracy: 0.7397
Epoch 75/100
804/804 [==============================] - 0s 502us/step - loss: 0.5357 - accuracy: 0.7397
Epoch 76/100
804/804 [==============================] - 0s 517us/step - loss: 0.5352 - accuracy: 0.7400
Epoch 77/100
804/804 [==============================] - 0s 524us/step - loss: 0.5352 - accuracy: 0.7394
Epoch 78/100
804/804 [==============================] - 0s 512us/step - loss: 0.5349 - accuracy: 0.7396
Epoch 79/100

804/804 [==============================] - 0s 506us/step - loss: 0.5353 - accuracy: 0.7388
Epoch 80/100
804/804 [==============================] - 0s 511us/step - loss: 0.5350 - accuracy: 0.7394
Epoch 81/100
804/804 [==============================] - 0s 503us/step - loss: 0.5351 - accuracy: 0.7394
Epoch 82/100
804/804 [==============================] - 0s 499us/step - loss: 0.5351 - accuracy: 0.7396
Epoch 83/100
804/804 [==============================] - 0s 485us/step - loss: 0.5354 - accuracy: 0.7392
Epoch 84/100
804/804 [==============================] - 0s 481us/step - loss: 0.5351 - accuracy: 0.7407
Epoch 85/100
804/804 [==============================] - 0s 503us/step - loss: 0.5346 - accuracy: 0.7402
Epoch 86/100
804/804 [==============================] - 0s 533us/step - loss: 0.5347 - accuracy: 0.7402
Epoch 87/100
804/804 [==============================] - 0s 512us/step - loss: 0.5348 - accuracy: 0.7397
Epoch 88/100
804/804 [==============================] - 0s 482us/step - loss: 0.5343 - accuracy: 0.7397
Epoch 89/100
804/804 [==============================] - 0s 490us/step - loss: 0.5347 - accuracy: 0.7397
Epoch 90/100
804/804 [==============================] - 0s 503us/step - loss: 0.5345 - accuracy: 0.7396
Epoch 91/100
804/804 [==============================] - 0s 515us/step - loss: 0.5344 - accuracy: 0.7402
Epoch 92/100
804/804 [==============================] - 0s 502us/step - loss: 0.5342 - accuracy: 0.7402
Epoch 93/100
804/804 [==============================] - 0s 534us/step - loss: 0.5345 - accuracy: 0.7399
Epoch 94/100
804/804 [==============================] - 0s 552us/step - loss: 0.5343 - accuracy: 0.7408
Epoch 95/100
804/804 [==============================] - 0s 576us/step - loss: 0.5345 - accuracy: 0.7406
Epoch 96/100
804/804 [==============================] - 0s 608us/step - loss: 0.5342 - accuracy: 0.7405
Epoch 97/100
804/804 [==============================] - 0s 585us/step - loss: 0.5345 - accuracy: 0.7406
Epoch 98/100
804/804 [==============================] - 1s 683us/step - loss: 0.5342 - accuracy: 0.7404
Epoch 99/100
804/804 [==============================] - 0s 597us/step - loss: 0.5341 - accuracy: 0.7395
Epoch 100/100
804/804 [==============================] - 0s 615us/step - loss: 0.5342 - accuracy: 0.7400

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5621 - accuracy: 0.7301
Loss: 0.562099814414978, Accuracy: 0.7301457524299622

In [23]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE



nn.save("AlphabetSoupChartity.h5")